<p [ngClass]="style">comp-atributos works!</p>
<button (click)="changeClass()">Mudar classe</button>

<h1 [ngStyle]="{'background':background, 'color': colorFont}">Curso de Angular</h1>

<ng-content select="h2"></ng-content>

<h1>Lista de compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item">
<button (click)="addList()">Adicionar</button>
<p>{{item}}</p>

<ul>
  <li *ngFor="let i of list">{{i}}</li>
</ul>

<ng-template [ngIf]="isEnableBlock">
  <a href="#">FINALIZAR COMPRA</a>
</ng-template>